{% extends 'base.html.twig' %}

{% block body %}
    {% include '_partials/_navbar.html.twig' %}
    <div class="container py-4">
        <h1>Welcome {{ app.user.name }}!</h1>
    </div>
{% endblock %}